#cuerpo{
  max-width:900px;
  margin:auto;

}
body{
  background-color: #02010a;
  font-family: "Dancing Script";
}

.images{
  box-shadow: 2px 2px 2px #02010a;
}

#cabecera{
  background-color:#5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height:125px;
  position:relative;
  top:0px;
  right: 0px;
}

#titulo{
  text-shadow: 2px 2px 2px #02010a;
  color:#ffffff;
  width: 70%;
  height:100%;
  position:absolute;
  top:10%;
  left:2%;
}

#menu{
  width: 20%;
  height:100%;
  font-size:18px;
  margin-left: 80%;
  position:absolute;
  top:35%;
  right:0%;
}

.menulink{
  color:#ffffff;
}
.menulink:first-child{
  text-decoration:none;
}

article{
  background-color: #82c3a6;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  position:relative;
  right: 0px;
  top:0px;
}

#imagencentral{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

section{
  width: 100%;
  height:auto;
  background-color: #d5c75f;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

figcaption{
  text-align: center;
  text-decoration: underline;
}

#paisaje{
  width:90%;
  margin-right:auto;
  margin-left:auto;
  display:flex;
  order:1;
}

#paisaje:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px solid black;
}

#retrato{
  width:90%;
  margin-right:auto;
  margin-left:auto;
  display:flex;
  order:2;
}

#retrato:hover{
  transform:translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px solid black;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

footer #contacto{order:1;}
footer #terminos{order:2;}
footer #redes{order:3;}
footer #derechos{order:4;}

@media (max-width:900px){
  #cuerpo{
    width:100%;
    display:flex;
    flex-flow: column wrap;
  }
  div #cabecera{order:1;}
      #titulo{
        width:100%;
        text-align: center;
        position:absolute;
        top: 0%;
        left:0%;
      }
      #cabecera #menu{
        width:100%;
        text-align: center;
        position:absolute;
        top:70%;
      }
  div article{order:2;}
  div section{order:3}
  section{
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;}
  div footer{order:4}
  footer{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  footer #contacto{order:1;padding-left: 5%;}
  footer #terminos{order:2;padding-left: 5%;}
  footer #redes{order:3;padding-left: 5%;}
  footer #derechos{order:4;padding-left: 5%;}
}
